//@use "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url('https://fonts.googleapis.com/css2?family=Spartan&display=swap');

$background-color: #f1f1f1;
$default-font-color: #2c3e50;
$dark-font-color: #f1f1f1;
$border-color: hsl(1, 20%, 91%);
$primary-color: #41B883;
$tertiary-color: #af1b3f;
$dark-color: rgb(45, 55, 50);
$high-color: #50c878;
$medium-color: orange;
$low-color: grey;

$media-queries : (
  'mini': "only screen and (max-width: 360px)",
  'mobile': "only screen and (min-width: 361px) and (max-width: 450px)",
  'mobile-plus': "only screen and (min-width: 451px) and (max-width: 667px)",
  'tablet': "only screen and (min-width: 668px) and (max-width: 1024px)",
  'rest': "only screen and (min-width: 1025px)"
);

@mixin fontResize {
  @each $media, $value in $media-queries {
    @media #{$value} {
      font-size: 1vw;
    }
  }
}

* {
  font-family: 'Spartan', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: $background-color;
}